

   
        <!-- Home Banner -->
        <section class="section section-search">
            <div class="container-fluid">
                <div class="banner-wrapper">
                    <div class="banner-header text-center">
                        <h1>Welcome, Start your bussiness easy</h1>
                        <p>Here easy to create your own site for grow your bussiness.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Home Banner -->
        <!-- Clinic and Specialities -->
        <section class="section section-specialities">
            <div class="container-fluid">
                <div class="section-header text-center">
                    <h2>Our site is usefull for</h2>
                    <p class="sub-title">Take your stand is very usefull for some of special products.</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <!-- Slider -->
                        <div class="specialities-slider slider">

                            <!-- Slider Item -->
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="Theme_data/assets/img/specialities/specialities-01.png" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>Faison</p>
                            </div>
                            <!-- /Slider Item -->
                            <!-- Slider Item -->
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="Theme_data/assets/img/specialities/specialities-02.png" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>Clothis</p>
                            </div>
                            <!-- /Slider Item -->
                            <!-- Slider Item -->
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="Theme_data/assets/img/specialities/specialities-03.png" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>Fan/ac</p>
                            </div>
                            <!-- /Slider Item -->
                            <!-- Slider Item -->
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="Theme_data/assets/img/specialities/specialities-04.png" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>Medicin</p>
                            </div>
                            <!-- /Slider Item -->
                            <!-- Slider Item -->
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="Theme_data/assets/img/specialities/specialities-05.png" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>Laptop</p>
                            </div>
                            <!-- /Slider Item -->
                            <!-- Slider Item -->
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img src="Theme_data/assets/img/specialities/specialities-06.png" class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                </div>
                                <p>camera</p>
                            </div>
                            <!-- /Slider Item -->

                        </div>
                        <!-- /Slider -->

                    </div>
                </div>
            </div>
        </section>
        <!-- Clinic and Specialities -->
        <!-- Popular Section -->
        <section class="section section-doctor">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="section-header ">
                            <h2>Product Listing View</h2>
                            <p>Small demo of product page</p>
                        </div>
                        <div class="about-content">
                            <p>All products should be display on your own site like this demo.</p>
                            @*<a href="javascript:;">Read More..</a>*@
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="doctor-slider slider">

                            <!-- Doctor Widget -->
                            <div class="profile-widget">
                                <div class="doc-img">
                                    <a href="doctor-profile.html">
                                        <img class="img-fluid" alt="User Image" src="~/Theme_data/assets/img/doctors/01.jpg">
                                    </a>
                                    <a href="javascript:void(0)" class="fav-btn">
                                        <i class="far fa-bookmark"></i>
                                    </a>
                                </div>
                                <div class="pro-content">
                                    <h3 class="title">
                                        <a href="doctor-profile.html">Head phones</a>
                                        <i class="fas fa-check-circle verified"></i>
                                    </h3>
                                    <p class="speciality">Headphone company details</p>

                                    <ul class="available-info">

                                        <li>
                                            <i class="far fa-clock"></i> Available / not
                                        </li>
                                        <li>
                                            <i class="far fa-money-bill-alt"></i> $300 - $1000
                                            <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
                                        </li>
                                    </ul>
                                    <div class="row row-sm">
                                        <div class="col-6">
                                            <a href="doctor-profile.html" class="btn view-btn">View Product</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="booking.html" class="btn book-btn">Add order</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Doctor Widget -->
                            <!-- Doctor Widget -->
                            <div class="profile-widget">
                                <div class="doc-img">
                                    <a href="doctor-profile.html">
                                        <img class="img-fluid" alt="User Image" src="~/Theme_data/assets/img/doctors/02.jpg">
                                    </a>
                                    <a href="javascript:void(0)" class="fav-btn">
                                        <i class="far fa-bookmark"></i>
                                    </a>
                                </div>
                                <div class="pro-content">
                                    <h3 class="title">
                                        <a href="doctor-profile.html">Digital camera</a>
                                        <i class="fas fa-check-circle verified"></i>
                                    </h3>
                                    <p class="speciality">Details of cameras</p>

                                    <ul class="available-info">

                                        <li>
                                            <i class="far fa-clock"></i> Available or not
                                        </li>
                                        <li>
                                            <i class="far fa-money-bill-alt"></i> $50 - $300
                                            <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
                                        </li>
                                    </ul>
                                    <div class="row row-sm">
                                        <div class="col-6">
                                            <a href="doctor-profile.html" class="btn view-btn">View product</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="booking.html" class="btn book-btn">Add order</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Doctor Widget -->
                            <!-- Doctor Widget -->
                            <div class="profile-widget">
                                <div class="doc-img">
                                    <a href="doctor-profile.html">
                                        <img class="img-fluid" alt="User Image" src="Theme_data/assets/img/doctors/03.jpg">
                                    </a>
                                    <a href="javascript:void(0)" class="fav-btn">
                                        <i class="far fa-bookmark"></i>
                                    </a>
                                </div>
                                <div class="pro-content">
                                    <h3 class="title">
                                        <a href="doctor-profile.html">Cleaning</a>
                                        <i class="fas fa-check-circle verified"></i>
                                    </h3>
                                    <p class="speciality">Detail of Cleaning product</p>

                                    <ul class="available-info">

                                        <li>
                                            <i class="far fa-clock"></i> Available on not
                                        </li>
                                        <li>
                                            <i class="far fa-money-bill-alt"></i> $100 - $400
                                            <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
                                        </li>
                                    </ul>
                                    <div class="row row-sm">
                                        <div class="col-6">
                                            <a href="doctor-profile.html" class="btn view-btn">View Product</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="booking.html" class="btn book-btn">Add Order</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /Doctor Widget -->
                            <!-- Doctor Widget -->
                            <div class="profile-widget">
                                <div class="doc-img">
                                    <a href="doctor-profile.html">
                                        <img class="img-fluid" alt="User Image" src="Theme_data/assets/img/doctors/04.jpg">
                                    </a>
                                    <a href="javascript:void(0)" class="fav-btn">
                                        <i class="far fa-bookmark"></i>
                                    </a>
                                </div>
                                <div class="pro-content">
                                    <h3 class="title">
                                        <a href="doctor-profile.html">Cleaning</a>
                                        <i class="fas fa-check-circle verified"></i>
                                    </h3>
                                    <p class="speciality">Detail of Cleaning product</p>

                                    <ul class="available-info">

                                        <li>
                                            <i class="far fa-clock"></i> Available on not
                                        </li>
                                        <li>
                                            <i class="far fa-money-bill-alt"></i> $100 - $400
                                            <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
                                        </li>
                                    </ul>
                                    <div class="row row-sm">
                                        <div class="col-6">
                                            <a href="doctor-profile.html" class="btn view-btn">View Product</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="booking.html" class="btn book-btn">Add Order</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /Doctor Widget -->
                            <!-- Doctor Widget -->

                        </div>
                    </div>
                </div>
            </div>
        </section>

    
    <!-- /Main Wrapper -->
