
@{
    ViewBag.Title = "planandprice";
}
<div class="speicality-item text-center">
    <div class="speicality-img">
        <img src="Theme_data/assets/img/specialities/specialities-02.png" class="img-fluid" alt="Speciality">
        <span><i class="fa fa-circle" aria-hidden="true"></i></span>
    </div>
    <p>Clothis</p>
</div>